body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  @include font();
  font-family: $font-stack;
  color: $color-text;
  background-color: $bg-body;

  &.no-scroll {
    overflow: hidden;
  }
}

.dark body {
  background-color: #272d34;
}
