<nav class="header-nav" data-menu>
  <ul class="header-nav__list list">
    <!-- nav-list  -->
    <li class="header-nav__item">
      <a
        id="nav-link-home"
        class="header-nav__link {{home}} link"
        href="./index.html"
        >Home</a
      >
    </li>
    <li class="header-nav__item">
      <a
        id="nav-link-library"
        class="header-nav__link {{library}} link"
        href="./library.html"
        >MY LIBRARY</a
      >
    </li>
    <li>
      <a href="#" class="themetoggle">
        <span class="material-symbols-outlined"> wb_sunny </span>
      </a>
    </li>
  </ul>
</nav>
