<!-- <p>Header Library</p>

<include src="./partials/header-nav.html">
  { "home": "", "library": "is-active" }
</include> -->

<header class="header header-library">
  <div class="header__container container container--no-paddings">
    <div class="header__box-nav">
      <a href="./index.html" class="header__logo-link">
        <svg class="header__icon-logo">
          <use href="./images/icons.svg#icon-film-logo"></use></svg
        ><span class="header__logo-txt">Filmoteka</span>
      </a>

      <include src="./partials/header-nav.html">
        <!-- { "home": "is-active", "library": "" } -->
      </include>
    </div>
    <div class="btn-box">
      <button
        class="header-btn header-btn-active"
        type="button"
        name="просмотренные"
        disabled
        data-btn-watched
      >
        watched
      </button>
      <button class="header-btn" type="button" name="в очереди" data-btn-queue>
        queue
      </button>
    </div>

    <!-- <p class="header__no-search visually-hidden">
      Search result not successful. Enter the correct movie name and
    </p> -->
  </div>
</header>
