<nav class="header-nav" data-menu>
  <ul class="header-nav__list list">
    <!-- nav-list  -->
    <li class="header-nav__item">
      <a
        id="nav-link-home"
        class="header-nav__link {{home}} link"
        href="./index.html"
        >Home</a
      >
    </li>
    <li class="header-nav__item">
      <a
        id="nav-link-library"
        class="header-nav__link {{library}} link"
        href="./library.html"
        >MY LIBRARY</a
      >
    </li>
    <div class="header_button-container">
      <button type="button" class="header_button-leng" id="en_btn"><svg width="25" height="25"> <use href="./images/symbol-defs.svg#icon-united"></use></svg>
      <button type="button" class="header_button-leng" id="ua_btn"><svg width="25" height="25"> <use href="./images/symbol-defs.svg#icon-ukraine"></use></svg></button></div>
    <div class="movie  genre-filter"></div>
  </ul>
</nav>
