<!-- Navigation - basic demo of active item -->
<!-- <a href="./index.html" class="{{home}}">Home</a>
<a href="./library.html" class="{{library}}">My Library</a> -->
<!-- <div class="nav-box-links" data-menu> -->
<nav class="header-nav" data-menu>
  <ul class="header-nav__list list">
    <!-- nav-list  -->
    <li class="header-nav__item">
      <a
        class="header-nav__link header-nav__link--current link"
        href="./index.html"
        >Home</a
      >
      <!--   nav-list__link--current link-->
    </li>
    <li class="header-nav__item">
      <a class="header-nav__link link" href="./library.html">MY LIBRARY</a>
    </li>
  </ul>
</nav>
<!-- </div> -->
