<div class="marquee">
  <span
    >STOP WAR IN UKRAINE TOGETHER! STOP WAR IN UKRAINE TOGETHER! STOP WAR IN UKRAINE TOGETHER! STOP WAR IN UKRAINE TOGETHER! STOP WAR IN UKRAINE TOGETHER! STOP WAR IN UKRAINE TOGETHER! STOP WAR IN UKRAINE TOGETHER! </span
  >
</div>
<header class="header">
  <div class="header__container container">
    <div class="header__box-nav">
      <a href="./index.html" class="header__logo-link">
        <svg class="header__icon-logo">
          <use href="./images/icons.svg#icon-film-logo"></use></svg
        ><span class="header__logo-txt">Filmoteka</span></a
      >
      <include src="./partials/header-nav.html">
        { "home": "is-active", "library": "" }
      </include>
    </div>

    <form class="movie-search">
      <label class="movie-search__label">
        <input
          class="movie-search__input"
          type="text"
          name="search"
          placeholder="Movie search"
          required
        />
      </label>
      <button class="movie-search__submit" type="submit">
        <svg class="movie-search__icon-logo">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="header__no-search visually-hidden">
      Sorry, there are no movies matching your search query. Try one more time,
      please.
    </p>
  </div>
</header>
