<section class='movies'>
  <div class='container'>
    <ul class='movies__list'>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <div class="thumb">
            <img class='movies__image'
                 src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
                 alt=''>
          </div>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
      <li class='movies__item'>
        <a class='movies__link' href=''>
          <img class='movies__image'
               src='https://image.tmdb.org/t/p/w500/kd6LgL3w1BLz9ksbdN52fsBJmaP.jpg'
               alt=''>
          <p class='movies__title'>GREYHOUND</p>
          <p class='movies__genres genres'><span class='genres__text'>Drama,
              Action</span> 2020</p>
        </a>
      </li>
    </ul>
  </div>
</section>
