<p>Pagination</p>
<div id="tui-pagination-container" class="tui-pagination container-pagination">
  <a class="link" href="">
    <svg class="icon-arrow left" width="16" heigth="16">
      <use xlink:href="/src/images/icons.svg#icon-arrow-left"></use>
    </svg>
  </a>
  <p class="pagination">1 2 3 ..... 15 16 17 .... 20</p>
  <a class="link" href="">
    <svg class="icon-arrow rigth" width="16" heigth="16">
      <use xlink:href="/src/images/icons.svg#icon-arrow-right"></use>
    </svg>
  </a>
</div>
