<!-- Slider main container -->
<section class="slider">
  <h2 class="slider__title">Trending movies in Ukraine</h2>
<div class="swiper container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper swiperWrapperRef">
    <!-- Slideside -->
    <!-- <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div> -->
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
</section>