#top {
  position: fixed;
  right: 5px;
  bottom: 50px;
  
  padding: 8px 10px;
  
  color: $color-text-lighter;
  background: $color-accent;
  border: $color-accent;
  border-radius: 20%;

  transition: $transition-duration $transition-animation;
  transition-property: transform, opacity;
  
  cursor: pointer;
  opacity: 0.85;

  &:hover {
    opacity: 1;
    transform: translateY(-2px);
  }

  @media screen and (min-width: 768px) {
    right: 20px;
    bottom: 20px;
    padding: 10px 12px;
  }
}
