@import '/node_modules/swiper/swiper-bundle.css';

.slider {
  padding-top: 20px;
  background-color: #fff;
  overflow-x: hidden;
}
.slider__container {
  max-width: 500px;

  @include mq(tablet) {
    max-width: 100%;
  }
}
.slider__title {
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;

  color: $color-accent;

  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  text-transform: uppercase;
}
.slider__wrap {
  position: relative;
}

.swiper {
  height: 200px;

  &-slide {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;

    &:hover {
      cursor: pointer;

      .movies__title {
        opacity: 1;
        visibility: visible;
      }
    }

    .movies__title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;

      text-align: center;
      color: $color-text-lighter;
      font-size: 16px;

      background-color: rgba($color-accent, 0.8);

      transition: $transition-duration $transition-animation;
      transition-property: opacity, visibility;

      opacity: 0;
      visibility: hidden;
    }
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: $color-accent;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -25px;
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: auto;
  right: -25px;
}
