.footer {
  background-color: $bg-footer;
  margin-top: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  &__container {
    text-align: center;
    @media screen and (min-width: 320px) {
      width: 270px;
    }
    @media screen and (min-width: 768px) {
      width: 800px;
    }
  }

  &__text {
    display: inline;
    color: $color-text-middle;
    font-size: 14px;
    line-height: 1.1;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 19px;
    }
  }

  &__year {
    display: inline;
    color: $color-text-middle;
    font-size: 14px;
    line-height: 1.1;
  
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  
    @media screen and (min-width: 1024px) {
      font-size: 19px;
    }
  }

  &__icon-heart {
    color: $color-accent;
    transform: translateY(2px);

    @media screen and (min-width: 768px) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__text-authors {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
    transition: color cubic-bezier(0.4, 0, 0.2, 1), 250ms;
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
