.footer__team-modal-btn {
  // cursor: pointer;

  padding: 0;
  border: none;
  background-color: transparent;
  color: $color-text-middle;
  font-size: 14px;
  line-height: 1.1;
  border-bottom: 1px solid;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 19px;
  }
}

.basicLightbox {
  overflow-y: scroll;
}

.basicLightbox__placeholder {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 20px;
  width: 280px;
  background-color: $bg-footer;
  border-radius: 10px;
  height: auto;
  overflow-y: auto;
  @media screen and (min-width: 420px) and (max-width: 767px) {
    position: absolute;
    top: 20px;
    width: 360px;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 480px;
    top: 20px;
  }

  @media screen and (min-width: 1024px) {
    width: 640px;
    position: absolute;
    top: 50px;
  }
}

.team_title {
  color: $color-accent;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  max-width: 600px;
  margin: 5px auto;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.team_box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  line-height: 1;
}

.team_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-basis: calc((100% - 20px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 3);
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 60px) / 4);
  }
}

.team_photo {
  margin-bottom: 10px;
  width: 100%;
  background-color: $bg-footer;
  border-radius: 5%;
  box-shadow: 3px 3px 10px -2px black;
  height: 140px;
  text-align: center;
  object-fit: cover;
  user-select: none;
  transition: $transition-duration $transition-animation;
  transition-property: transform;

  &:hover {
    transform: scale(1.09);
  }
}

.team_info {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.team_name {
  font-size: 14px;
  font-weight: 500;
  margin-right: auto;
  color: $color-accent;
}

.team_role {
  width: 100%;
  text-align: left;
  color: $color-text-middle;

  @media screen and (max-width: (768px - 1)) {
    font-size: 14px;
  }
}

.link_social img {
  margin-left: 10px;
  opacity: 0.2;
  transition: $transition-duration $transition-animation;
  transition-property: transform, opacity;
  user-select: none;

  &:hover {
    transform: scale(1.3);
    opacity: 0.9;
  }
}
