.header {
    min-width:320px;
    min-height: 230px;
    // background-position: 50% 50%;
    // object-fit: cover;
    // background-size: 320px 230px;
    background-size: cover;
    background-image: url(../images/header_home/home_mob@1x.webp);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    
            background-image: url(../images/header_home/home_mob@2x.webp);
        }
}

.header__container {  
    padding-top: 30px;
    width: 280px;
    min-height: 138px;
}

.header__box-nav {
    margin-bottom: 48px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-link {
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 30px;
    height: 40px;
        
    color: $color-text-lighter;
}

.header__icon-logo {
    display: block;
    width: 22px;
    height: 22px;
}

.movie-search__icon-logo {
    display: block;
    width: 12px;
    height: 12px;
    color: $color-text-lighter;
}

.movie-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

 .movie-search::after {
     content: '';
     display: block;
     position: absolute;
     bottom: 0px;
     width: 100%;
     height: 0.5px;
     background-color: $color-text-lighter;
 }



.movie-search__input{
    @include font($fs: 14px, $lh: 1.14, $fw: normal, $ls: null);
    font-style: normal;
    color: $color-text-lighter;
}


.movie-search__input,
.movie-search__submit {
    border: transparent;
    background-color: transparent;
}

.movie-search__input {
    color:$color-text-lighter;
    width: 240px;
}

.movie-search__input:focus {
    color: $color-text-lighter;
    outline: transparent;
}


.movie-search__submit {
    padding: 0;
    padding-left: 15px;
}

.header__no-search {
    @include font($fs: 14px, $lh: 1.14, $fw: normal, $ls: null);
        font-style: normal;
        color: $color-text-warning;
}


