.header {
  min-width: 320px;
  min-height: 230px;

  background-size: cover;
  background-image: url(../images/header_home/home_mob@1x.webp);

  @include mq(retina) {
    background-image: url(../images/header_home/home_mob@2x.webp);
  }

  @include mq(tablet) {
    min-width: 768px;
    min-height: 216px;
    background-size: cover;
    background-image: url(../images/header_home/home_tabl@1x.webp);

    @include mq(retina) {
      background-image: url(../images/header_home/home_tabl@2x.webp);
    }
  }

  @include mq(desktop) {
    min-width: 1280px;
    min-height: 216px;
    background-size: cover;
    background-image: url(../images/header_home/home_desk@1x.webp);

    @include mq(retina) {
      background-image: url(../images/header_home/home_desk@2x.webp);
    }
  }
}

.header {
  &__container {
    padding-top: 30px;
    max-width: 500px;
    min-height: 138px;

    @include mq(tablet) {
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
      width: 704px;
    }

    @include mq(desktop) {
      width: 1216px;
    }
  }

  &__box-nav {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30px;
    height: 40px;

    color: $color-text-lighter;

    @include mq(tablet) {
      display: flex;
      align-items: center;
      width: 170px;
    }
  }
}

.header__logo-link:hover,
.header__logo-link:hover > .header__logo-txt,
.header__logo-link:focus,
.header__logo-link:focus > .header__logo-txt {
  color: $hover-color;
}

.header__icon-logo {
  display: block;
  width: 24px;
  height: 24px;
  transition: color $transition-duration $transition-animation;

  // &:hover,
  // &:focus {
  //         color: $hover-color;

  //     }
}

.header__logo-txt {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet) {
    margin-left: 8px;
    @include font($fs: 30px, $lh: 1.17, $fw: 500, $ls: null);
    font-style: normal;
    color: $color-text-lighter;
  }
  @include mq(desktop) {
    margin-left: 10px;
  }
  // &:hover,
  // &:focus {
  //     color: $hover-color;

  // }
}

.movie-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @include mq(tablet) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    width: 394px;
    //  margin-left: auto;
    //  margin-right: auto;
    //  margin-bottom: 20px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0.5px;
    background-color: $color-text-lighter;
  }
}

.movie-search {
  &__icon-logo {
    display: block;
    width: 12px;
    height: 12px;
    color: $color-text-lighter;

    transition: color $transition-duration $transition-animation;

    &:hover,
    &:focus {
      color: $hover-color;
    }
  }

  &__input {
    @include font($fs: 14px, $lh: 1.14, $fw: normal, $ls: null);
    font-style: normal;
    color: $color-text-lighter;
    width: 240px;

    @include mq(tablet) {
      width: 300px;
    }

    @include mq(desktop) {
      width: 360px;
    }
  }

  &__input,
  &__submit {
    border: transparent;
    background-color: transparent;
  }

  &__input:focus {
    color: $color-text-lighter;
    outline: transparent;
  }

  &__submit {
    padding: 0;
    padding-left: 15px;
  }

  &__input:-webkit-autofill,
  &__input:-webkit-autofill:hover,
  &__input:-webkit-autofill:focus,
  &__input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $color-text-lighter;
  }
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   transition: background-color 5000s ease-in-out 0s;
//   -webkit-text-fill-color: $color-text-lighter;
// }

.header__no-search {
  @include font($fs: 14px, $lh: 1.14, $fw: normal, $ls: null);
  font-style: normal;
  color: $color-text-warning;
  @include mq(tablet) {
    display: flex;
    justify-content: space-evenly;
  }
}
