.list {
  @extend %list;
}

.header-nav {
  &__list {
    display: flex;
  }

  &__item:first-child {
    margin-right: 40px;
  }
}

.header-nav__link {
  position: relative;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  @include font($fs: 12px, $lh: 1.17, $fw: 500, $ls: null);
  font-style: normal;
  color: $color-text-lighter;
  text-transform: uppercase;

  transition: color $transition-duration $transition-animation;

  &:hover,
  &:focus {
    color: $hover-color;
  }

  &.is-active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 3px;
    background-color: $color-secondary;

    animation: changeSize 400ms linear 200ms backwards;
  }
}

@keyframes changeSize {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.material-symbols-outlined{
  color: #fff;
  margin-left: 20px;
}