.movies__overlay {
  display: none;
}

@include mq(tablet) {
  .thumb {
    position: relative;
    overflow: hidden;
    pointer-events: none;
  }

  .movies__overlay {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    padding: $gap;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: rgba($color-accent, 0.8);
    filter: saturate(0.6);
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;

    transition: $transition-duration $transition-animation;
    transition-property: opacity, visibility;

    .movies__item:hover & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.movies__overlay-txt,
.movies__overlay-about,
.movies__overlay-vote {
  color: $color-text-lighter;
}

.movies__overlay-txt {
  font-size: 14px;
  margin-top: 8px;
}

.movies__overlay-about,
.movies__overlay-vote {
  @include font($fs: 20px, $lh: 1.2, $fw: 500, $ls: null);
}

.movies__overlay-vote {
  margin-bottom: $gap;
}
