.icon-arrow {
  color: black;
  width: 16px;
  height: 16px;
}
.left {
  // margin-right: 20px;
  @media screen and (min-width: 768px) {
    // margin-right: 16px;
  }
}
.rigth {
  // margin-left: 20px;
  @media screen and (min-width: 768px) {
    // margin-right: 10px;
  }
}
.icon-arrow:hover {
  color: #ff6b08;
}
.pagination {
  color: black;
}
.pagination:hover {
  color: #ff6b08;
}
.tui-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  border: none;
  background-color: transparent;
}
