.tui-pagination {
  padding: 0 0 60px !important;
}

.tui-pagination .tui-page-btn {
  border: none !important;
  border-radius: 5px;
}

.tui-pagination .tui-page-btn {
  width: 40px !important;
  height: 40px !important;
  padding: 14px 0 !important;
  line-height: 1 !important;
}

.tui-pagination .tui-ico-ellip {
  margin-top: 5px !important;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: $color-accent !important;
  border-color: $color-accent !important;
}

.dark .tui-pagination {
  background-color: #272d34;
}

.dark .tui-pagination .tui-page-btn {
  color: #fff;
}

.dark .tui-pagination .tui-page-btn:hover {
  background: #3b434b;
}

.dark .tui-pagination .tui-ico-ellip,
.dark .tui-pagination .tui-ico-first,
.dark .tui-pagination .tui-ico-last,
.dark .tui-pagination .tui-ico-next,
.dark .tui-pagination .tui-ico-prev {
  filter: brightness(5);
}
