.youtube-icon-btn {
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.youtube-icon {
  transition: transform 250ms linear;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.basicLightbox--iframe .basicLightbox__placeholder {
  background-color: transparent;
  padding: 0 0;
  width: 100%;
  height: auto;
  overflow-y: visible;
  pointer-events: all;
  user-select: none;

  @media screen and (min-width: 768px) {
    width: auto;
    height: auto;
  }
}

.icon-close {
  position: absolute;
  top: -35px;
  right: 0;
  color: $color-secondary;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

iframe {
  width: 100%;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  pointer-events: auto;

  @media screen and (min-width: 768px) {
    width: 680px;
    height: 400px;
  }

  @media screen and (min-width: 1280px) {
    width: 960px;
    height: 540px;
  }
}
